<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}

</head>
<body>

{{>navbar}}

       <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="geetika" class="img-fluid" title="about">
                        </figure>
                        </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1> I Am A <span>Mern Stack Developer</span></h1>
                        <a href="https://www.youtube.com/" target="_geetika"><button> About Me</button></a>

                    </div>

                </div>

            </div>
        </div>
        </div>

{{>footer}}
</body>
</html>